/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-grotesk-v15-latin-regular.woff2') format('woff2'),
    url('/fonts/space-grotesk-v15-latin-regular.woff') format('woff');
}

/* space-grotesk-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/space-grotesk-v15-latin-500.woff2') format('woff2'),
    url('/fonts/space-grotesk-v15-latin-500.woff') format('woff');
}

/* space-grotesk-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/space-grotesk-v15-latin-600.woff2') format('woff2'),
    url('/fonts/space-grotesk-v15-latin-600.woff') format('woff');
}

/* space-grotesk-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/space-grotesk-v15-latin-700.woff2') format('woff2'),
    url('/fonts/space-grotesk-v15-latin-700.woff') format('woff');
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    url('/fonts/montserrat-v25-latin-regular.woff') format('woff');
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    url('/fonts/montserrat-v25-latin-500.woff') format('woff');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat-v25-latin-600.woff2') format('woff2'),
    url('/fonts/montserrat-v25-latin-600.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
    url('/fonts/montserrat-v25-latin-700.woff') format('woff');
}
