:root {
  --gray-50: hsl(0, 0%, 94%);
  --gray-100: hsl(0, 0%, 86%);
  --gray-200: hsl(0, 0%, 78%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 62%);
  --gray-500: hsl(0, 0%, 54%);
  --gray-600: hsl(0, 0%, 46%);
  --gray-700: hsl(0, 0%, 22%);
  --gray-800: hsl(0, 0%, 14%);
  --gray-900: hsl(0, 0%, 8%);

  --green: hsl(180, 16%, 19%);
  --blue: hsl(203, 65%, 8%);

  // background
  --cta-bg: hsl(28, 67%, 48%);
  --cta-hover-bg: hsl(28, 93%, 38%);
  --primary-bg: ;
  --secondary-bg: ;
  --tertiary-bg: ;
  // text color
  --cta-txt: ;
  --primary-txt: ;
  --secondary-txt: ;
  --tertiary-txt: ;

  --bg-primary: var(--gray-50);
  --bg-secondary: var(--gray-100);
  --bg-tertiary: var(--gray-200);
  --txt-primary: var(--gray-900);
  --txt-secondary: var(--gray-800);
  --txt-tertiary: var(--gray-700);

  background-color: var(--bg-primary);
  color: var(--txt-secondary);
}